#page2 {
  display: flex;
  flex-direction: row;
  opacity: 0;
}
#lyricLines {
  width: calc(29vw - 40px);
  height: cacl(100vh - 80px);
  padding: 40px 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-right: 4vw;
}
.LyricLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
}
.llLyric {
  width: 14.7vw;
}
.llBadge {
  width: 3.65vw;
  height: 2.04vh;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3f4a;
  border-radius: 4px;
}
.llBadge.Active {
  background-color: #34d1bf;
}
.llBadge.Passive {
  background-color: #ffce4a;
}
.llBadge.Subjective {
  background-color: #f17105;
}
.llBadge.Dependent {
  background-color: #6665dd;
}
#lyricVis {
  display: flex;
  align-items: center;
}
#lyricGraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44.27vw;
  height: 91.85vh;
  border-radius: 6px;
  background-color: #40414e;
}
#lgTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 7vh 0;
}
#lgCount {
  display: flex;
  flex-direction: row;
}
#lgVis {
  display: flex;
  flex-direction: row;
  /* height: 47.13vh; */
}
#lgLabel {
  display: flex;
  flex-direction: row;
}
#lgvCols {
  display: flex;
  flex-direction: row;
}
.lgvText {
  width: 2.34375vw;
  height: 5.56vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lgvCol {
  width: 2.34375vw;
  margin: 0 3.125vw;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.lgvBlock {
  width: 2.34375vw;
  height: 15px;
  margin: 2px 0px;
  border-radius: 4px;
}

.lgvBlock.Active {
  background-color: #34d1bf;
}
.lgvBlock.Passive {
  background-color: #f5ca5c;
}
.lgvBlock.Subjective {
  background-color: #e2772f;
}
.lgvBlock.Dependent {
  background-color: #6469d6;
}
