#page6 {
  display: flex;
  flex-direction: row;
  opacity: 0;
}

#p6LeftTap {
  width: 22.6vw;
  height: 100vh;
  background-color: rgba(64, 65, 78, 0.5);
}
#p6Main {
  display: flex;
  flex-direction: row;
  width: 54.8vw;
  height: 100vh;
}
#p6MainL {
  width: 4.9vw;
}
#p6MainC {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#p6MainCT {
  /* height: 45vw; */
}
#p6MainCC {
  height: 45vw;
}
#p6MainCB {
  /* height: 45vw; */
}
#p6MainR {
  width: 4.9vw;
}
#p6RightTap {
  width: 22.6vw;
  height: 100vh;
  background-color: rgba(64, 65, 78, 0.5);
}
