#page1 {
  display: flex;
  flex-direction: row;
  opacity: 1;
}
.newChatBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-bottom: 5px;
}
/* #newChatBox:hover {
  background: rgba(255, 255, 255, 0.1);
} */
.svgNewChatPlus {
  margin: 0 14px;
}
.chatList {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.chatItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  padding: 13px 0px;
}
/* .chatItem:hover {
  background: rgba(255, 255, 255, 0.1);
} */
.svgChatItem {
  margin: 0px 13px;
}

#chatContent {
  width: 84.6875vw;
  height: 100vh;
  position: relative;
}

#chatDialog {
  /* width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

.cdContainer {
  /* width: 79.6vw; */
  padding-right: 5.0875vw;
  padding-bottom: 28.24vh;
  height: 71.76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#chatDialogMain {
}
#chatDialogThread {
  padding-right: 0;
  display: none;
}
.ThreadBox {
  width: calc(100% - 5.0875vw);
  padding-right: 5.0875vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ThreadBox.gpt {
  background-color: #444654;
}
.ThreadIcon {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-right: calc(5vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.ThreadIcon.me {
  background-color: #9547d2;
}
.ThreadIcon.gpt {
  background-color: #10a37f;
}
.ThreadText {
  width: 45vw;
  padding: 25px 0px;
  line-height: 32px;
}

#chatDialogTitle {
  margin-top: 11.6vh;
  text-align: center;
  font-size: 45px;
  margin-bottom: 3.33vh;
}
#chatDialogTitleFirstLine {
  line-height: 40px;
}
#chatDialogTitleSecondLine {
  letter-spacing: 2px;
  margin-bottom: 2px;
}
#chatDialogSubTitle {
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
}

#chatDialogHowtoUse {
  display: flex;
  flex-direction: row;
}
.cd-htu-col {
  width: 15.66vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.76vw;
}
.cd-htu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.39vh;
}
.cd-htu-title-sym {
  margin-bottom: 12px;
}
.cd-htu-title-text {
  font-size: 24px;
}
.cd-hts-msgs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cd-hts-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8.33vh;
  margin-bottom: 1.39vh;
  background: #3e3f4a;
  /* padding: 25px 0px; */
  border-radius: 6px;
}
.cd-hts-msg.lg {
  height: 10.19vh;
}

#chatInterface {
  /* width: 79.6vw; */
  width: 84.6875vw;
  height: 28.24vh;
  position: absolute;
  bottom: 0;
  left: 0;
}
#chatInterfaceWindow {
  width: 100%;
  height: 100%;
  position: relative;
}
#chatInterfaceShadow {
  width: 100%;
  height: 13.7vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(62, 63, 74, 0) 0%, #343540 50%);
  opacity: 0;
  transition: opacity 0.5s;
}
#chatInterfaceInput {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* width: 84.6875vw; */
  width: 79.6vw;
  padding-right: 5.0875vw;
  height: 21.11vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #343540;
}
#chatPrompt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(50vw - 32px);
  min-height: 5.18vh;
  /* margin-top: 3.33vh; */
  margin-bottom: 12px;
  padding: 0px 16px;
  background: #3e3f4a;
  border-radius: 6px;
}
#chatPromptPlaceholder {
  color: #8e8ea0;
}
#chatPromptTextBox {
  width: calc(50vw - 32px - 29px - 16px);
  display: none;
  margin: 10px;
}
#chatPromptBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 4px;
  transition: background-color 0.2s;
  /* background-color: #10a37f; */
  cursor: default;
}
#promptSendBtnInactive {
}
#promptSendBtnActive {
  display: none;
}

#chatPInputItems {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5.09vh;
  margin-bottom: 6.48vh;
}
.chatPInputItem {
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e3f4a;
  border-radius: 6px;
}
