#page3 {
  display: flex;
  flex-direction: row;
  opacity: 0;
}

#p3LeftTap {
  width: 22.6vw;
  height: 100vh;
  background-color: rgba(64, 65, 78, 0.5);
}
#p3Main {
  display: flex;
  flex-direction: row;
  width: 54.8vw;
  height: 100vh;
}
#p3MainL {
  width: 4.9vw;
}
.p3LeftContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#p3LeftOverall {
  display: none;
}
.mainSongs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6vh;
}
.mainSong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.09375vw;
  height: 3.98vh;
  background-color: #343540;
  border-radius: 10px;
  margin: 2px;
  font-size: 14px;
}
.mainSongTitle {
}
.mainSongSinger {
}
.mainSongLyric {
  height: 66.67vh;
  overflow-y: scroll;
  line-height: 28px;
  text-align: center;
}
#p3MainC {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#p3MainCT {
  /* height: 45vw; */
}
#p3MainCC {
  height: 45vw;
}
#p3MainCB {
  /* height: 45vw; */
}
#p3MainR {
  width: 4.9vw;
}
.p3RightContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personaImg {
  width: 18.23vw;
  margin-top: 9.26vh;
  margin-bottom: 4.81vh;
}
.personaImg img {
  width: 100%;
}
.personaHashtag {
  width: 18.23vw;
  margin-bottom: 4.63vh;
}
.personaDesc {
  width: 18.23vw;
}
.p-pd {
  margin-bottom: 4.63vh;
}
#p3RightOverall {
  display: none;
}
#p3RightTap {
  width: 22.6vw;
  height: 100vh;
  background-color: rgba(64, 65, 78, 0.5);
}
