* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  /* background-color: white; */
  background-color: #343540;
}
#mainContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#nextPageBtn {
  z-index: 10;
  position: fixed;
  display: none;
  /* display: flex; */
  width: 7.65625vw;
  height: 4.44vh;
  right: 9vw;
  bottom: 6vh;
  background-color: #10a37f;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: opacity 0.5s, display 0s 0.5s;
}
.leftTap {
  width: calc(15.3125vw - 20px);
  height: calc(100vh - 30px);
  padding: 15px 10px;
  background-color: #202123;
}

.buttonHover {
  transition: background-color 0.2s;
  cursor: pointer;
}
.buttonHover:hover {
  background: #10a37f;
}
.buttonHoverBlue {
  transition: background-color 0.2s;
  cursor: pointer;
}
.buttonHoverBlue:hover {
  background: #4cb4ff;
}

.txt-ps-1 {
  color: #00a980;
}
.txt-ps-2 {
  color: #ffd800;
}
.txt-ps-3 {
  color: #ff71a3;
}
.txt-ps-4 {
  color: #7978f1;
}
.txt-ps-5 {
  color: #ff9337;
}
.txt-ps-6 {
  color: #7ed321;
}
.txt-ps-7 {
  color: #0057ff;
}
.txt-ps-8 {
  color: #ff006b;
}
.txt-ps-9 {
  color: #ffffff;
}
.txt-ps-10 {
  color: #21f2ff;
}
