* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  /* background-color: white; */
  background-color: #343540;
}
#mainContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#nextPageBtn {
  z-index: 10;
  position: fixed;
  display: none;
  /* display: flex; */
  width: 7.65625vw;
  height: 4.44vh;
  right: 8vw;
  bottom: 10vh;
  background-color: #10a37f;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: opacity 0.5s, display 0s 0.5s;
}
.leftTap {
  width: calc(15.3125vw - 20px);
  height: calc(100vh - 30px);
  padding: 15px 10px;
  background-color: #202123;
}

.buttonHover {
  transition: background-color 0.2s;
  cursor: pointer;
}
.buttonHover:hover {
  background: #10a37f;
}
